body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table-tree {
    display: block;
    text-align: center;
    margin: auto;
}


.container {
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;


}

.table-tree td {
    border: black solid;
}

.history-list {
    height: 250px;
    overflow-y: scroll;
}
.card-deck{
    width: 900px;
}
.card{
    min-width: 350px;
}